@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --content-width: min(100%, var(--container-max-width, 1140px));
  --primary-color: #2D69F0;
  --secondary-color: #FF7C54;
  --bg-icon-color: #144C6B;
  --bg-main-color: #F7F8FC;
  --border-color-default: #eeeeee;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
  font-family: "Mulish", Sans-serif;
  transition: all .25s linear;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.container {
  width: 100%;
  max-width: var(--content-width);
  margin: 0 auto;
  padding-inline-start: 0;
  padding-inline-end: 0;
}

@media (max-width: 768px) {
  .container {
    padding-left: 2px;
    padding-right: 2px;
  }
}