@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --height-header: 89px;
  --content-width: min(100%, var(--container-max-width, 1200px));
  --primary-color: #20AD96;
  --secondary-color: #FF7C54;
  --bg-icon-color: #144C6B;
  --bg-main-color: #F7F8FC;
  --border-color-default: #eeeeee;
  --text-color-detail-class: #212529;
  --text-footer-color: #696969;
  --bg-nav-mobile: #3f3a64
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@font-face {
  font-family: 'Gilroy';
  src: url('/font/Gilroy-Bold.ttf');
  font-weight: bold;
}

@font-face {
  font-family: 'Gilroy';
  src: url('/font/Gilroy-Heavy.ttf');
  font-weight: 900;
}


@font-face {
  font-family: 'Gilroy';
  src: url('/font/Gilroy-Light.ttf');
  font-weight: 300;
}


@font-face {
  font-family: 'Gilroy';
  src: url('/font/Gilroy-Medium.ttf');
  font-weight: 500;
}



body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
  font-family: Gilroy;
  transition: all .25s linear;
}

::selection {
  color: #fff;
  background-color: #20AD96;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}



.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
  max-width: var(--content-width);
}